SHOPIFY_API_KEY=055c58ca4a3c8c74054fb105f38216b1
SHOPIFY_API_SECRET=your_secret_here
SHOPIFY_SCOPES=read_orders,read_customers,read_products
APP_URL=https://invoicegen-shopify.vercel.app
HOST=https://invoicegen-shopify.vercel.app
